
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

div {
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 40px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

